/* css */ 

.BlocGauche {
    width: 250px;
    height: 1100px;
    margin-left: 50px;
    background-color: #B7EBBB;
    float:left;
    margin-top: 50px;
    padding: 16px;
  }

.BlocGauche img{
    width: 150px;
    height: 150px;
    text-align: center;
    padding-top: 30px;
    padding-left: 50px;
}

.BlocHaut{
    text-align : center;
    width: 600px;
    height: 130px;
    margin-left: 300px;
    background-color: #B7EBBB;
    margin-top: 70px;
    padding: 16px;
}

.BlocCentre{
    width: 566px;
    height: 966px;
    margin-left: 330px;
    padding-left: 30px;
    padding-right: 16px;
}

.Anim{
    animation-name: rect;
    animation-duration: 7s;
    animation-timing-function: linear;
}

.Anim{
    animation-iteration-count: infinite;
    width: 100%;
    height: 100px;
    background-color: #386F48;
    margin: 0 auto 20px auto;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
}

@keyframes rect{
    from{width: 100%;}
    50%{width: 40%;}
    to{width: 100%;}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #386F48;
}

footer { 
    background-color: #ffffff;
    text-align: center;
    display: block;
    width: 98.7%;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
footer img{
    margin-top: 20px;
    width: 50px;
    height: 50px;
}

article.logo {
    width: 30%;
    text-align: center;
    display: block;
    display: flex;
    float: left;
    justify-content:space-evenly;
}

article.logo {
    width: 50%;
    text-align: center;
    display: block;
    display: flex;
    float: right;
}